.landing {
  padding: 210px 0 20px 0;
}

.landing .startButton {
  position: absolute;
  top: 40px;
  left: calc(50% - 40.35px);
  z-index: 50;
  font-size: 24px;
  background-color: var(--theme-purple);
  color: white;
  border: 1px solid var(--theme-purple-darkened);
  border-radius: 5px;
  padding: 8px 15px;
  box-shadow: 1px 1px 3px black;
}
.landing .startButton:hover,
.landing .startButton:focus {
  cursor: pointer;
  background-color: var(--theme-purple-darkened);
}
@media only screen and (min-width: 800px) {
  .landing .startButton {
    font-size: 60px;
    left: calc(50% - 79.36px);
  }
}

.landing .rope-bg {
  background-image: url("../../images/rope.png");
  width: 100vw;
  height: 10px;
  background-position: center center;
}

.landing .jeremy {
  width: 40vw;
  max-width: 300px;
  position: absolute;
  top: calc(210px - 9.5vw);
  left: 58vw;
}
@media only screen and (min-width: 800px) {
  .landing .jeremy {
    top: calc(210px - 72px);
    left: calc(95vw - 300px);
  }
}
.landing .jeremiah {
  width: 35vw;
  max-width: 220px;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 5vw;
  top: calc(210px - 21.7vw);
}
@media only screen and (min-width: 628px) {
  .landing .jeremiah {
    top: calc(210px - 136px);
  }
}

.landing .birthday-img {
  width: 40vw;
  min-width: 300px;
  display: block;
  margin: 0 auto;
}

.landing .message-container {
  position: relative;
  z-index: 50;
  margin: 1.4em auto 0 auto;
  max-width: 280px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 22px;
  border-radius: 5px;
}
.landing .critter-font {
  margin: 0;
}
.landing .critter-font.signature {
  margin: 0.4em 0 0 0;
}
@media only screen and (min-width: 620px) {
  .landing .message-container {
    max-width: 580px;
    font-size: 36px;
  }
}
