.riddleTitle {
  text-align: center;
  font-weight: 100;
  font-size: 40px;
}
.transition .riddleTitle {
  position: relative;
  top: 100vh;
  transition: top 1000ms linear;
}
.transition .title.fixed {
  top: 0px;
}

.transition .critter-img,
.transition .word-bubble {
  width: 150px;
  position: absolute;
}
.transition .word-bubble img,
.transition .word-bubble p {
  width: 100%;
  height: 100%;
}
.transition .word-bubble p {
  position: absolute;
  top: 10%;
  left: 8%;
  padding-right: 13%;
  font-weight: 100;
}
@media only screen and (min-width: 600px) {
  .transition .critter-img,
  .transition .word-bubble {
    width: 250px;
  }
}

.transition .critter-container {
  position: fixed;
  top: 0;
  left: 0;
  transition: left 1000ms linear, top 1000ms linear;
}
