body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
body * {
  box-sizing: border-box;
  font-family: "Bangers", cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  --theme-salmon: #dbb1bc;
  --theme-light-purple: #d3c4e3;
  --theme-purple: #8288ce;
  --theme-purple-darkened: #6870c4;
  --theme-blue: #89daff;
  --theme-brown: #58504a;
  background-color: var(--theme-blue);
}

.critter-font {
  font-family: "Nanum Brush Script", cursive;
  font-size: 22px;
}
